<mat-toolbar class="toolbar">

  <div class="logo">
    <img
      class="logo-img"
      alt="Angular Logo"
      src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    />
    <span>Calendar</span>
  </div>

  <div class="change-icon">
    <button class="change-button" (click)="onReturn()" mat-icon-button aria-label="Example icon-button with a heart icon">
      <
    </button>
    <button class="change-button" (click)="onNext()" mat-icon-button aria-label="Example icon-button with a heart icon">
      >
    </button>

    <span>{{dateStr}}</span>

    <span class="example-spacer"></span>
  </div>

  <div class="field">
    <mat-form-field appearance="fill">
      <mat-select [(value)]="selected">
        <mat-option (click)="changeCalendarType()" value="month">Mount</mat-option>
        <mat-option (click)="changeCalendarType()" value="week">Week</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-toolbar>
